@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* fonte links e titulos*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); /* fonte geral*/


/*======= CONFIGURAÇÕES GERAIS ======*/
:root{
    --fonte-links-ttulos: 'Bebas Neue', sans-serif;
    --fonte-geral: 'Playfair Display', serif;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: var(--fonte-geral);
    font-size: 16px;
}

a{
    text-decoration: none;
}

h1,h2,h3,
h4,h5,h6{
    font-family: var(--fonte-links-ttulos);
    text-decoration: none;
}

h1{
    font-size: 3rem;
    display: inline-block;
    text-align: center;
}


p{
    text-align: left;
    padding: 2vw 2vh;
    width: 100%;
    font-size: 1.5rem;
}

section{
    margin-bottom: 10vh;
    min-height: 100vh;
}

.container-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2vh 2vw;
}

.item-container{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    width: 100%;
    padding: 2vh 2vw;
    row-gap: 2vh;
}

.item-container picture{
    width:100%;
}

.item-container picture source,
.item-container picture img{
    width: 100%;
}

#box-ap-img picture{
    align-self: flex-end;
}


/* ======== CABEÇALHO ========*/

#container-header{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 15vh;
    padding: 2vw 2vh;
    background-color: #000;
}

#container-header img{
    width: 6.25rem;
}

.menu{
    width: 100%;
}


ul.links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5%;
    list-style: none;
}

ul.links a{
    color: #fff;
    font-family: var(--fonte-links-ttulos);
    font-size: 1.4em;
}

ul.links a:hover{
    color: darkgrey;
}
/* ======== CONTEÚDO PRINCIPAL =======*/

#container-apresentacao{
    flex-direction: column-reverse;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    row-gap: 10vh;
}


#box-ap-content{
    color: #fff;
}

#box-ap-content p{
  margin-top: 5vh;
}

#imagem-pele-png{
    width: 100%;
    display: inline-block;
    position:relative;
    
    
}


/* ========= INICIO CARREIRA =========== */

#container-carreira{
    background-color: #fff;
}



/* ========= CARREIRA SANTOS =========== */

#container-santos-fc{
    background: linear-gradient(to top, #FFF, rgba(150,150,150, .3));
}


#container-sfc-img{
    row-gap: 2vh;
}




/* =========== SELECAO BRASILEIRA ======== */
#container-selecao{
    background: linear-gradient(to bottom, transparent, rgba(150, 150, 150, 0.302) 20%, rgba(255, 215, 0,.2), transparent);
}



/* ============= MIL GOLS ==========*/
#container-mil-gols{
    background:linear-gradient(to bottom, transparent, rgba(87, 87, 87,.4));
}


/*======== CONTAINER FIM DE CARREIRA ==========*/
#container-fim-de-carreira{
    background: linear-gradient(to bottom, transparent, rgba(29, 48, 46,.4));
}

/* ======== FOOTER =======*/

.container-footer{
    width: 100%;
    height: 20vh;
    background-color: #000;
    color: #FFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-footer span{
    font-size: 1.2rem;
    font-weight: bold;

}

.container-footer span a{
    color: white;
    text-decoration: 2px underline;
    text-decoration-color: cornflowerblue;
}

.container-footer span a:active{
    color: darkgrey;
}

.container-footer span a:hover{
    color: darkgrey;
}

/* smartphone landscape max-width: 568px*/
@media screen and (orientation: landscape) and (max-width: 568px) {
    .item-container picture{
        max-width:80vw;
    }

/* ======== CONTEÚDO PRINCIPAL =======*/
    #container-apresentacao{
        row-gap: 2vh;
    }
    #box-ap-img picture{
        width: 60vw;
        display: block;
        align-self: center;
    }
   
}
/* smartphone landscape min-width: 569px e max-width: 950px*/
@media screen and (orientation: landscape) and (min-width: 569px) and (max-width: 950px) {
    
    .item-container picture{
        max-width:60vw;
    }
    
    /* ======== CONTEÚDO PRINCIPAL =======*/
    #container-apresentacao{
        row-gap: 2vh;
    }
    #box-ap-img picture{
        width: 50vw;
        display: block;
        align-self: center;
    }
    
}
/* tablets portrait min-width:768px e max-width: 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    h1{
        font-size: 4.5rem;
    }
    
    p{
        text-align: left;
        padding: 2vw 2vh;
        width: 100%;
        font-size: 2.2rem;
    }

    .item-container picture{
        max-width: 75vw;
    }

    /* ======== CABEÇALHO ========*/

    .menu{
        width: 100%;
    }

    ul.links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 3%;
        list-style: none;
    }
    
    ul.links a{
        color: #fff;
        font-family: var(--fonte-links-ttulos);
        font-size: 2.2em;
    }

    /* ======== CONTEÚDO PRINCIPAL =======*/
    #container-apresentacao{
        row-gap: 5vh;
    }
    #box-ap-img picture{
        width: 60vw;
        display: block;
        align-self: center;
    }
}

/* desktop */
@media screen and (min-width: 1025px) {

   .maxsize-container{
        max-width: 70vw;
        margin: auto;
   }

   .item-container picture{
        max-width: 30vw;
    }

    /* ======== CABEÇALHO ========*/
    
    ul.links{
        column-gap: 2vw;
      
    }
    
    ul.links a{
        font-size: 2.8rem;
    }

     /* ======== CONTEÚDO PRINCIPAL =======*/
    #container-apresentacao{
        flex-direction: row;
    }

    #box-ap-img picture{
        width: 50vw;
    }
}